<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.CodeMapper">
	<select id="getCodeGroupList" resultType="com.project.common.domain.CodeLabelValue">
		SELECT group_code AS value, group_name as label FROM code_group
		WHERE use_yn = 'Y' ORDER BY group_name
	</select>
	<select id="getCodeList" resultType="com.project.common.domain.CodeLabelValue">
		SELECT code_value AS value, code_name AS label
		FROM code_detail WHERE group_code = #{groupCode}
		AND use_yn = 'Y' ORDER BY sort_seq
	</select>
</mapper>